
<div style="margin: 0 auto; width: 500px">

	<h2>This is a test for the routing</h2>
	<p> Here, we can see all our customers</p>
	
	<button class="button" ng-click="getClient()">Get all Clients</button>
	<ul>
		<li ng-repeat="x in clients"> {{x.name}} e {{x.shoes}}</li>
	</ul>
</div>
