<div style="margin: 0 auto; width: 500px">

	<h1> Try to get value</h1>
	<p> this is my first time where i use AngularJS </p>
	
  	<form  class="simple-form">	
		<input type="text" ng-model="shoes.name" name="name" />
		<br><br>
		<input type="number" ng-model="shoes.num" name="num" />
		<br><br>
		<input type="number" ng-model="shoes.price" name="price" />		
  	</form>
  	
  	<button ng-click="saveElement()"> Save </button>
	
	<p>OBJ {{shoes}} </p>
	
	<br><br>
	
	
	<button ng-click="getAll()">Click here!!!!!</button>
	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
		<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Name</th>
			<th>Num</th>
			<th>Price</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat = "x in customers">
			<td class="mdl-data-table__cell--non-numeric">{{x.name}}</td>
			<td>{{x.num}}</td>
			<td>{{x.price}}</td>
		<tr>
		</tbody>
	</table>
</div>